<!DOCTYPE html>
<html>
  <head>
    <title>KEEPGen</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if student_signed_in? %>
    <ul>
      <li><%= link_to current_student.username, student_path(current_student) %></li>
      <li><%= link_to "Sign out", destroy_student_session_path, :method => :delete %></li>
    </ul>
    <% else %>
    <ul>
      <li><%= link_to "Sign In", new_student_session_path  %></li>
      <li><%= link_to "Register", new_student_registration_path %></li>
    </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
